# kernel files
filesystem/boot/vmlinuz*
filesystem/boot/System.map*
filesystem/etc
filesystem/lib
filesystem/boot/lib/*

# build artifacts
redrose_linux.qcow2
filesystem/boot/initramfs.cpio.gz
initramfs.cpio.gz
initramfs/rootfs.tar*
dist/

# bootstrapping
*.tar.zst
strap_packages
libcp
repro.car
initramfs/bin
initramfs/coreutils*

# package files
rootfs/filesystem
initramfs/etc
initramfs/include
initramfs/lib
initramfs/sbin
initramfs/usr
initramfs/share
filesystem/bin/
filesystem/usr/
filesystem/boot/vmlinuz/

# python
*__pycache__

# where i put stuff that i dont push :shrug:
.ignored
