# kernel files
filesystem/boot/vmlinuz*
filesystem/boot/System.map*
filesystem/etc
filesystem/lib
filesystem/boot/lib/*

# build artifacts
redrose_linux.iso
redrose_linux.qcow2
initramfs.cpio.gz
filesystem/boot/initramfs.cpio.gz
initramfs/rootfs.tar*

# bootstrapping
*.tar.zst
strap_packages
libcp
repro.car
initramfs/bin
initramfs/coreutils*

# package files
rootfs/filesystem
initramfs/etc
initramfs/include
initramfs/lib
initramfs/sbin
initramfs/usr
initramfs/share
filesystem/bin/
filesystem/usr/
filesystem/boot/vmlinuz/

# python
*__pycache__

# some stuff ive been working on lately
src/new-installer/
